<div class="container-main">
    <div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <h5>Author: {{blogs.author}}</h5>
            <h6>Status: {{blogs.published}}</h6>
            <h6>Category: {{blogs.category}}</h6>

            <a class="btn btn-primary" role="button" href="/">QUAY LẠI</a>
        </div>
        <div class="col-lg-9">
            <h2>{{blogs.title}}</h2>
            <p>{{blogs.content}}</p>
        </div>
    </div>
</div>
</div>