       <!-- Page content-->
        <div class="container"></div>
            <div class="row">
                  <div class="card mb-4 col-lg-6">
                            <div class="card-header">Search</div>
                            <div class="card-body">
                                <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                    <button class="btn btn-primary" id="button-search" type="button">Search</button>
                                </div>
                            </div>
                 </div>
                   <div class="card mb-4 col-lg-3">
                            <div class="card-header">Categories</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <ul class="list-unstyled mb-0">
                                            {{#each blogs}}
                                            <li><a href="#!">{{this.category}}</a></li>
                                            {{/each}}
                                        </ul>
                                    </div>
                            
                                </div>
                            </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4 col-lg-3">
                        <div class="card-header">Good saying of the day</div>
                        <div class="card-body">stop thinking, start doing!</div>
                    </div>
            </div>
            <div class="row">
                <!-- Blog entries-->
                    {{#each blogs}}
                <div class="col-lg-4">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="/blogs/{{this.slug}}">
                            <img class="card-img-top" src="https://wallpapercave.com/wp/wp5920170.jpg" alt="..." />
                        </a>
                        <div class="card-body">
                            <div class="small text-muted">{{this.createdAt}}</div>
                            <h2 class="card-title h4">{{this.title}}</h2>
                            <p class="card-text">{{this.summary}}</p>
                            <p class="cart-author">{{this.author}}</p>
                            <p class="cart-publisher">{{this.publisher}}</p>
                            <a class="btn btn-primary" href="/blogs/{{this.slug}}">Read more →</a>
                        </div>
                    </div>
                </div>
                    {{/each}} 
            </div>
            
             <!-- Side widgets-->
                    <div class="row">
                        <!-- Search widget-->
                      
                        <!-- Categories widget-->
                      
                    </div>

                 <!-- Pagination-->
               <div class="col-lg-8">
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
        </div>